@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.



@{
    <h1>@DateTime.Now.ToString()</h1>
}


<ul>
    @foreach (var culture in System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.AllCultures))
    {
        <li>@culture</li>
    }
</ul>



